{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport"
      content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <h1>Login</h1>
    <div class="linkqueue">
      <a href="{% url 'url_home' %}">Home</a>
    </div>

    <form method="post" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div class="field_wrapper">
            {{ field.label_tag }} {{ field }}
            {{ field.errors }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
