.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grip-gap: 10px;
  background-color: #ddd;
  padding: 10px;
}

.grid-container > div{
  background-color: #eee;
  text-align: center;
  padding: 10px 0;
  font-size: 120%;
}
