/* This includes padding and border in an element's
total width and height (often more intuitive)*/
* {
  box-sizing: border-box;
}

body{
  background-color: #f3f3f3;
  color: #333;
}

h1 {
  text-align: center;
  background-color: #ddd;
  padding: 10px 5px;
  margin: 5px 0px;
  border-radius: 5px;
  font-size: 140%;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 3px 0px 5px 0px;
  border: 2px solid #999;
  border-radius: 5px
}

form{
  max-width: 800px;
}

.linkqueue {
  font-weight: bold;
  font-size: 80%;
  margin: 0 0 5px 0;
}
#navbar {
  font-weight: bold;
  font-size: 100%;
  margin: 3px 0 3px 0;
}

.linkqueue > a, #navbar > a{
  display: inline-block;
  color: #777;
  padding: 3px 5px;
  margin: 0;
  background-color: #ddd;
  border-radius: 5px;
  text-decoration: none;
}
a:hover {
  background-color: #d4d4d4;
}
.linkqueue > a:last-child{
  background-color: inherit;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #ddd;
  padding: 5px;
  border-radius: 5px;
}

/* All div elements inside grid-container: */
.grid > div{
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.item1, .item2, .item3, .item4{
  background-color: #eee;
  font-size: 90%;
  border-bottom: 3px solid #ccc;
  color: #555;
  overflow: hidden;
}

.topic_header{
  background-color: #ccc;
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid #bbb;
}
