{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport"
      content="width=device-width, initial-scale=1.0">
    <title>Mynotes</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <h1>My Notes</h1>
    <div class="linkqueue">
      Home
    </div>

    <div id="navbar">
      <a href="{% url 'url_topic_new' %}" >Add topic</a>
    </div>

    <div class="grid">
      <div class="topic_header">Topic</div>
      <div class="topic_header">Description</div>
      <div class="topic_header">Created by</div>
      <div class="topic_header">Notes</div>

      {% for topic in topics_for_home %}
        <div class="item1">{{ topic.subject }}</div>
        <div class="item2">{{ topic.description }}</div>
        <div class="item3">{{ topic.owner.first_name }}</div>
        <div class="item4">0</div>
      {% endfor %}
    </div>
  </body>
</html>
