{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport"
      content="width=device-width, initial-scale=1.0">
    <title>Mynotes</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <h1>My Notes</h1>
    <div class="linkqueue">
      <a href="{% url 'url_home' %}">Home</a> >
      New topic
    </div>

    <form method="post" novalidate>
      {% csrf_token %}
      {% for field in topic_form %}
        <div class="field_wrapper">
            {{ field.label_tag }} {{ field }}
            {{ field.errors }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>

<!--VERSION 1: <form method="post">
  {% csrf_token %}
  <div>
    <label for="id_subject">Subject</label>
    <input type="text" id="id_subject" name="subject">
  </div>
  <div>
    <label for="id_description">Description</label>
    <textarea class="" id="id_description" name="description" rows="5">
    </textarea>
  </div>
  <button type="submit">Submit</button>
</form>

VERSION 2: <form method="post" novalidate>
  {% csrf_token %}
  {{ topic_form.as_p }}
  <button type="submit">Submit</button>
</form>-->
