{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mynotes</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <h1>New Topic</h1>

    <form method="post">
      {% csrf_token %}
      <label for="id_subject">Subject</label>
      <input type="text" id="id_subject" name="subject">

      <label for="id_description">Description</label>
      <textarea class="" id="id_description" name="description" rows="5"></textarea>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <a href="{% url 'url_home' %}">Home</a>
  </body>
</html>
